.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

main{
    border: 3px solid #000;
    border-radius: 10px;
    background-color: wheat;
}
#header{
    display: inline-flex; 
    background-color: #072a6c;
    box-shadow:2px 2px #000;
}

#about{
    margin-left: 25%;
}

img{
    width: 175%;
    height: 75%;
    margin-top: 25px;
    margin-left: 25px;
}

h1{
    color: #fff;
    margin-top: 45px;
    text-align: center;
}

#title{
    margin-top: -25px;
    text-align: center;
    color: yellow;
}

#address{
    margin-top: 15%;
    color: #fff;
}

#profile{
    margin: 15px 10px;
    border-radius: 10px;
    border: 3px #fff solid;
    background-color: #fff;
}

h2{
    color: #ff0000;
    text-align: center;
    margin-top: 15px;
}

#profileP{
    margin: 5px;
    text-align: center;
}

#employmentHistory{
    display: flex;
}

.em{
    margin: 5px 1%;
    background-color: #fff;
    width: 50%;
    border-radius:15px ;
}

.date{
    color: #ff0000;
    text-align: center;
    margin-top: -15px;
}

#eduSkill{
    display: flex;
    margin-bottom: 15px;
}

.em1{
    background-color: #fff;
    width: 140%;
    margin-left: 5%;
    
    border-radius:15px ;
}

#skills{
    margin-left: 55%;
    display: flex;
    margin-top: 15px;
}

.typeNone{
    list-style-type: none;
}
